/*
清除两个li之间间距的方法：ul中font-size为0，li中设置
*/
@navHeight: 50px;
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
input:focus{
  outline:none;
}
*{
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}
br{
  line-height: 2px;
}
.move-line{
  width: 20px;
  height: 4px;
  border:2px solid #e7504d;
  margin:0 auto;
  box-sizing: border-box;
  transition: width 0.7s ease-in-out;
}
.content-title:hover>.move-line{
  width:250px;
  transition: width 0.7s ease-in-out;
}
header{
  height: @navHeight;
  min-width: 1280px;
  #logo{
    display: inline-block;
    line-height: @navHeight;
    font-size: 30px;
    letter-spacing: 3px;
    float: left;
  }
  #logo:before{
    content: " ";
    display: inline-block;
    width:35px;
    height:35px;
    float: left;
    background: url("../img/logo.gif") no-repeat;
    line-height: @navHeight;
    background-size: cover;
    margin-top: 7px;
    margin-right: 10px;
  }
  ul{
    float: right;
    font-size: 0;
    box-sizing: border-box;
    li{
      font-size: 16px;
      box-sizing: border-box;
      display: inline-block;
      line-height: @navHeight;
      width: 90px;
      height: @navHeight;
      padding: 0 10px;
      text-align: center;
      a{
        display: inline-block;
        height: 47px;
        color: #9a9a9a;
      }
      a:hover{
        color: #e74e4a;
        transition: color 0.5s ease-in-out;
      }
    }
    li:hover{
      border-bottom: 3px solid #e74e4a;
    }
  }
}
article{
  width:100%;
  min-width: 1280px;
  .section1{
    background: url("../img/pic01.jpg") no-repeat;
    background-size: cover;
    height: 650px;
    width:100%;
    color: #ffffff;
    .intro{
      left: 100px;
      position: relative;
      top: 150px;
      h2{
        font-size: 50px;
      }
      input{
        border: none;
        width:330px;
        height:60px;
        background-color: #e74f4d;
        font-size: 30px;
        color: #ffffff;
        letter-spacing: 2px;
        margin-top: 100px;
      }
    }
  }
  .section2{
    height: 240px;
    .sub-section{
      float: left;
      min-width: 25%;
      box-sizing: border-box;
      text-align: center;
      .cell-img{
        display: inline-block;
        line-height: 130px;
      }
    }
  }
  .section3{
    text-align: center;
    height:400px;
    background-color: #edeaea;
    color: #a4a4a4;
    img{
      position: relative;
      top: 80px;
    }
    p{
      margin-top: 150px;
      font-size: 50px;
    }
  }
  .section4{
    background: url("../img/pic02.jpg") no-repeat;
    height: 340px;
    background-size: cover;
    text-align: center;
    select{
      width:230px;
      height:35px;
      opacity: 0.4;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      option{
        opacity: 0.4;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
      }
    }
  }
  .section6{
    height: 560px;
    width:100%;
    position: relative;
    .left-img{
      background: url("../img/pic07.jpg") no-repeat;
      background-size: cover;
      height: 560px;
      text-align: center;
      float: left;
      width:70%;
      .left-img-mes{
        color: #ffffff;
        h3{
          font-size: 50px;
        }
        p{
          font-size: 100px;
          letter-spacing:10px;
        }
      }
    }
    .left-img:after{
      content: '';
      display: block;
      background-color: #ffffff;
      width:50px;
      height:50px;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      position: absolute;
      left:70%;
      top:50%;
    }
    .right-msg{
      width:30%;
      height:560px;
      float: right;
      text-align: center;
      position: relative;
      .msg-content{
        width:70%;
        position: absolute;
        top:50%;
        left:50%;
        transform: translateX(-50%) translateY(-50%);
        h3{
          font-size: 30px;
          line-height: 50px;
        }
        div{
          margin: 0 auto;
          //text-align: center;
        }
        input{
          margin-top: 50px;
          color: #e74e4a;
          border: 1px solid #e74f4d;
          width:100px;
          height:30px;
          background-color: #ffffff;
        }
        input:hover{
          background-color: #e74e4a;
          color: #ffffff;
          transition: all 0.5s ease-in-out;
        }
        ul{
          margin-top: 50px;
          li{
            display: inline-block;
            border:1px solid #9a9a9a;
            width:10px;
            height:10px;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            border-radius:5px;
          }
        }
      }
    }
  }
  .section8{
    height: 800px;
    width:100%;
    .top{
      width:100%;
      height:300px;
      text-align: center;
    }
    .left{
      width:30%;
      color: #B3AFAC;
      height:400px;
      padding-top: 20px;
      padding-left: 80px;
      padding-right: 80px;
      float: left;
      div{
        h4{
          color: #6C5C5C;
          line-height:30px;
        }
        .morebtn{
          text-align: right;
        }
      }
    }
    .right{
      width: 700px;
      height: 400px;
      float: left;
      input{
        width:300px;
        height:40px;
        border:none;
        background-color: #ededef;
        margin:10px;
        padding: 10px;
        box-sizing: border-box;
      }
    }
  }
}