/*
清除两个li之间间距的方法：ul中font-size为0，li中设置
*/
@navHeight: 50px;
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}
br{
  line-height: 2px;
}
header{
  height: @navHeight;
  min-width: 1280px;
  #logo{
    display: inline-block;
    line-height: @navHeight;
    font-size: 30px;
    letter-spacing: 3px;
    float: left;
  }
  #logo:before{
    content: " ";
    display: inline-block;
    width:35px;
    height:35px;
    float: left;
    background: url("../img/logo.gif") no-repeat;
    line-height: @navHeight;
    background-size: cover;
    margin-top: 7px;
    margin-right: 10px;
  }
  ul{
    float: right;
    font-size: 0;
    box-sizing: border-box;
    li{
      font-size: 16px;
      box-sizing: border-box;
      display: inline-block;
      line-height: @navHeight;
      width: 90px;
      height: @navHeight;
      padding: 0 10px;
      text-align: center;
      a{
        display: inline-block;
        height: 47px;
        color: #9a9a9a;
      }
      a:hover{
        color: #e74e4a;
        transition: color 0.5s ease-in-out;
      }
    }
    li:hover{
      border-bottom: 3px solid #e74e4a;
    }
  }
}
article{
  width:100%;
  min-width: 1280px;
  .section1{
    background: url("../img/pic01.jpg") no-repeat;
    background-size: cover;
    height: 650px;
    width:100%;
    color: #ffffff;
    .intro{
      left: 100px;
      position: relative;
      top: 150px;
      h2{
        font-size: 50px;
      }
      input{
        border: none;
        width:330px;
        height:60px;
        background-color: #e74f4d;
        font-size: 30px;
        color: #ffffff;
        letter-spacing: 2px;
        margin-top: 100px;
      }
    }
  }
  .section2{
    height: 240px;
    .sub-section{
      float: left;
      min-width: 25%;
      box-sizing: border-box;
      text-align: center;
      .cell-img{
        display: inline-block;
        line-height: 130px;
      }
    }
  }
  .section3{
    text-align: center;
    height:400px;
    background-color: #edeaea;
    color: #a4a4a4;
    img{
      position: relative;
      top: 80px;
    }
    p{
      margin-top: 150px;
      font-size: 50px;
    }
  }
  .section4{
    background: url("../img/pic02.jpg") no-repeat;
    height: 340px;
    background-size: cover;
    text-align: center;
    select{
      width:230px;
      height:35px;
      opacity: 0.4;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      option{
        opacity: 0.4;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
      }
    }
  }
}