@headerheight: 56px;
@searchheight: 30px;

*{
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}
a{
  text-decoration: none;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
ul{
  list-style: none;
}
header{
  height: @headerheight;
  background-color: #2189bf;
  min-width: 1280px;
  #logo{
    padding:10px;
    float: left;
    margin-left: 50px;
    height:36px;
  }
  .login{
    height: @headerheight;
    float: right;
    box-sizing: border-box;
    padding-top: (@headerheight - @searchheight) / 2;
    margin-right: 50px;
    #search{
      width: 300px;
      height: @searchheight;
      border: none;
      padding: 5px 20px;
      padding-left: 30px;
      border-radius: @searchheight/2;
      box-sizing: border-box;
      background: #fff url("../img/zoom.png") no-repeat 10px;
    }
    #search:focus{
      outline: none;
    }
    span{
      margin-left: 50px;
      a{
        color: #ffffff;
        font-size: 14px;
      }
      a:before{
        background: url("../img/login.png") no-repeat;
        display: inline-block;
        content: '';
        width:15px;
        height:15px;
        background-size: contain;
        margin-right: 10px;
        transform: translateY(2px);
      }
    }
  }
}
article{
  width: 1280px;
  margin: 0 auto;
  background-color: #2a2e3d;
  .left{
    width: 260px;
    float: left;
    background-color: #2b2e3d;
    //height:300px;
    a{
      color: #67778b;
    }

    .left-user{
      height:150px;
      .left-user-name{
        text-align: center;
        color: #ffffff;
        height:90px;
        padding-top: 20px;
        box-sizing: border-box;
        .left-user-name-head{
          display:inline-block;
          background: url("../img/head.jpg");
          background-size: cover;
          height:50px;
          width:50px;
          border-radius: 25px;
          vertical-align: middle;
        }
        .left-user-name-id{
          vertical-align: middle;
        }
      }
      .left-user-info{
        height: 60px;
        div{
          color: #67778b;
          text-align: center;
          float: left;
          width:50%;
          box-sizing: border-box;
        }
        div:first-child{
          border-right:1px solid;
        }
      }
    }
    .left-tree{
      font-size: 14px;
      >ul{
        >.active{
          background-color: #383d4e;
          >h3{
            color: #ffffff;
          }
          .left-tree-content-tree{
            display: block;              /*设置激活显示*/
            >ul{
              >.open{
                background: url("../img/file_cur.png") no-repeat 1px 3px;
                >a{
                  color: #ffffff;
                }
                >ul{
                  display: block;
                }
              }
              >li{
                padding-left: 20px;
                background: url("../img/file_close.png") no-repeat 1px 3px;
                margin-top: 10px;
                >ul{
                  display: none;
                  li{
                    /*li修改前面的点的样式，使用background属性*/
                    padding-left: 10px;
                    background: url("../img/doc_close.png") no-repeat 5px;
                    text-indent: 10px;
                    margin-top: 5px;
                  }
                  li.chosen{
                    background: url("../img/doc_open.png") no-repeat 5px;
                    >a{
                      color: #ffffff;
                    }
                  }
                }
              }
            }
          }
        }
        .left-tree-content-tree{
          display: none;                 /*设置默认不显示*/
        }
        .left-tree-content{
          display: block;
          box-sizing: border-box;
          padding-left: 45px;
          color: #67778b;
          padding-top:10px;
          padding-bottom:10px;
          h4,h5{
            font-size: 14px;
          }
        }
        .left-tree-content:hover{
          background-color: #383d4e;
        }
      }
    }
  }
  .right{
    width: 1020px;
    float: left;
    background-color: #eeeeed;
    .right-header{
      background-color: #ffffff;
      height:36px;
      font-size: 16px;
      padding-top: 10px;
      padding-left: 30px;
      a{
        color: #aaa;
      }
      a:hover{
        color: #6898c2;
      }
      color: #aaa;
    }
    .right-container{
      padding-left: 50px;
      padding-top:20px;
      .right-content{
        .right-content-search{
          width:890px;
          height:86px;
          background-color: #ffffff;
          border: 1px solid #dddfe1;
          padding-top: 15px;
          padding-left: 30px;
          box-sizing: border-box;
          .right-content-search-info{
            color: #aaa;
            width:120px;
            float: left;
            margin-right: 20px;
            label{
              font-size: 12px;
            }
            select{
              -webkit-appearance: none;
              width:70px;
              height:24px;
              line-height: 22px;
              font-size: 14px;
              background: url("../img/blue_arrow.png") no-repeat center right 8px;
              outline: none;
              margin-left: 5px;
            }
          }
          .right-content-search-info{
            select{
              padding-left: 5px;
            }
            input{
              padding-left: 5px;
            }
          }
          #right-content-search-people{
            width: 190px;
            p{
              margin-bottom: 15px;
            }
            select{
              width: 130px;
            }
          }
          #right-content-search-detail{
            width: 310px;
            p{
              margin-bottom: 15px;
              label{
                margin-left: 10px;
              }
            }
          }
          #right-content-search-button{
            input{
              border:none;
              background-color: #487fbe;
              padding: 5px 10px;
            }
          }
        }
        .right-content-history{
          width:920px;
          height:65px;
          margin-top: 10px;
          .right-content-history-left,.right-content-history-tree,.right-content-history-right,.right-content-history-query{
            float: left;
            height:inherit;
            background-color: #ffffff;
            border: 1px solid #dddfe1;
            box-sizing: border-box;
            margin-right: 5px;
            text-align: center;

          }
          .right-content-history-left,.right-content-history-right{
            width:30px;
          }
          .right-content-history-query{
            width:124px;
          }
          .right-content-history-tree{
            width:111px;
            p{
              position: relative;
              top:10px;
            }
            p.history-money{
              margin-top: 3px;
              span:first-child{
                color: #aaa;
              }
              span:last-child{
                color: #e96217;
                font-size: 26px;
                font-weight: bold;
              }
            }
          }
          .right-content-history-tree:hover{
            border-top: 4px solid #6389cc;
          }
          .right-content-history-tree:hover>p.history-time{
            position: relative;
            top: 7px;
          }
          .right-content-history-tree:hover>p.history-money{
            position: relative;
            top: 8px;
          }
        }
        .right-content-count{
          width:920px;
          height:86px;
          margin-top: 10px;
          #right-content-count-blue{
            border-left:4px solid #2189bf;
            >div:last-child{
              background-color: #2189bf;
            }
          }
          #right-content-count-green{
            border-left:4px solid #43b29e;
            >div:last-child{
              background-color: #43b29e;
            }
          }
          #right-content-count-red{
            border-left:4px solid #d04b36;
            >div:last-child{
              background-color: #d04b36;
            }
          }
          #right-content-count-yellow{
            border-left:4px solid #e2cd47;
            >div:last-child{
              background-color: #e2cd47;
            }
          }
          .right-content-count-tree{
            float: left;
            height:inherit;
            width:200px;
            margin-right:30px;
            background-color: #ffffff;
            border: 1px solid #dddfe1;
            box-sizing: border-box;
            position: relative;
            >div{
              position: absolute;
              top:50%;
              margin-top: -30px;

            }
            >div:first-child{
              width:100px;
              float: left;
              left:20px;
              p{
                line-height:30px;
              }
            }
            >div:last-child{
              width:80px;
              height: 60px;
              float: left;
              left:100px;
            }
          }
        }
        .right-content-project{
          width:920px;
          height:360px;
          margin-top: 10px;
          .right-content-project-left,.right-content-project-right{
            float: left;
            height:inherit;
            background-color: #ffffff;
            margin-right:10px;
            border: 1px solid #dddfe1;
            border-radius: 10px;
            .right-content-project-left-header{
              height:42px;
              background-color: #f4f5f6;
              border-top-left-radius: inherit;
              border-top-right-radius: inherit;
              color: #535353;
              box-sizing: border-box;
              padding-top:10px;
              padding-left: 25px;
            }
          }
          .right-content-project-left{

            width:530px;

            .right-content-project-left-content{
              padding: 12px 0 0 20px;
              ul{
                display: block;
                li{
                  float: left;
                  display: inline-block;
                  width:80px;
                  height:30px;
                  text-align: center;
                  margin-right:3px;
                  background-color: #ededef;
                  color: #535353;
                  border-top-left-radius: 5px;
                  border-top-right-radius: 5px;
                  box-sizing: border-box;
                  border: 2px solid #ededef;
                  border-bottom: none;
                }
                li.tabactive{
                  background-color: #ffffff;
                  border: 2px solid #dddfe1;
                  border-bottom: none;
                }
              }
              div.right-content-project-left-content-table{
                border:2px solid #dddfe1;
                padding: 28px 37px;
                width:490px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
              }
              table{
                border-top: 1px solid #dddfe1;
                border-left: 1px solid #dddfe1;
                td{
                  width:100px;
                  height:30px;
                  border-right:1px solid #dddfe1;
                  border-bottom:1px solid #dddfe1;
                  text-align: center;
                  color: #535353;
                }
                td:hover{
                  background-color: #9a9a9a;
                }
              }
              .zhebi{
                width:76px;
                height:10px;
                position: relative;
                top:-250px;
                left:2px;
                background-color: #ffffff;
              }
            }
          }
          .right-content-project-right{
            //float: left;
            //height:inherit;
            width:350px;
            //background-color: #ffffff;
            .right-content-project-right-content{
              padding-left:34px;
              padding-top:15px;
              padding-right:34px;
              div{
                padding-left: 15px;
                box-sizing: border-box;
                h3{
                  color: #535353;
                  font-size:14px;
                }
                p{
                  color: #535353;
                }
              }
              .content-title{
                border-bottom: 1px solid #9a9a9a;
              }
              .content-price{
                float: left;
                border-bottom: 1px solid #9a9a9a;
                border-right: 1px solid #9a9a9a;
                height:44px;
                width:100px;
              }
              .content-charge{
                border-bottom:1px solid #9a9a9a;
                //float: left;
                height:44px;
              }
              .content-discription{

              }
            }
          }
        }
        .right-content-last{
          width:920px;
          height: 356px;
          margin-top:10px;
          .right-content-last-date,.right-content-last-rate{
            height:inherit;
            background-color: #ffffff;
            float: left;
            margin-right: 10px;
            border: 1px solid #dddfe1;
            border-radius: 10px;
            .right-content-last-header{
              height:42px;
              background-color: #f4f5f6;
              border-top-left-radius: inherit;
              border-top-right-radius: inherit;
              color: #535353;
              box-sizing: border-box;
              padding-top:10px;
              padding-left: 25px;
            }
          }
          .right-content-last-date{
            width:350px;
            .right-content-last-date-content{
              padding:12px 20px;
              form{
                margin-bottom: 10px;
                select{
                  -webkit-appearance: none;
                  height:22px;
                  background-color: #ffffff;
                  border:1px solid #cdcece;
                }
                select#yy{
                  width:64px;
                }
                select#mm{
                  width:84px;
                }
                select#select-date{
                  width:75px;
                }
                input{
                  background-color: #ffffff;
                  width:64px;
                  height:22px;
                  border:1px solid #cdcece;
                }
              }
              ul{
                li{
                  text-align: center;
                  float: left;
                  width:44px;
                }
              }
              table{
                tr{
                  td{
                    text-align: center;
                    display: inline-block;
                    width:44px;
                    height:46px;
                    font-size:14px;
                  }
                }
              }
            }
          }
          .right-content-last-rate{
            width:530px;
            .right-content-last-rate-content{
              margin:20px 44px;
            }
            .right-content-last-table{
              border:none;
              border-top:1px solid #67778b;
              border-left:1px solid #67778b;
              tr{
                th{
                  border-right:1px solid #67778b;
                  border-bottom:1px solid #67778b;
                  height:28px;
                }
                th:first-child{
                  width:68px;
                }
                th:nth-child(2){
                  width:90px;
                }
                th:last-child{
                  width:290px;
                }
                td{
                  border-right:1px solid #67778b;
                  border-bottom:1px solid #67778b;
                  text-align: center;
                }
                td:last-child{
                  text-align: left;
                  box-sizing: border-box;
                  padding-left: 20px;
                  //position: relative;
                  >span{
                    float: left;
                  }
                  >div{
                    float: left;
                    width: 150px;
                    height:5px;
                    background-color: #2a2e3d;
                    position: relative;
                    top:7px;
                    margin-left: 20px;
                    >div{
                      width:130px;
                      height:inherit;
                      background-color: #e74e4a;
                    }
                  }
                }
              }
              tr:hover{
                background-color: #9a9a9a;
              }
              #honda{
                >td:last-child>div{
                  >div{
                    width:110px;
                    background-color: #2189bf;
                  }
                }
              }
              #ford{
                >td:last-child>div{
                  >div{
                    width:92px;
                    background-color: #2189bf;
                  }
                }
              }
              #bmw{
                >td:last-child>div{
                  >div{
                    width:80px;
                    background-color: #2189bf;
                  }
                }
              }
              #hyundai{
                >td:last-child>div{
                  >div{
                    width:70px;
                    background-color: #2189bf;
                  }
                }
              }
              #kia{
                >td:last-child>div{
                  >div{
                    width:55px;
                    background-color: #2189bf;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
